html, body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%
}

.clock {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%
}

.hidden {
    visibility: hidden;
}


.card{
    width: 35rem;
}
